#banner {
    top: 27%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    position: absolute;
    background: #FFF;
    border-radius: 11px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.bottom{
    height: 10%;
    background-color: black;
    color: #DEAB4D;
    text-transform: uppercase;
    border-radius: 0 0 10px 10px;
    font-size: larger;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top{
    height: 90%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.top .carousel-item{
    padding: 4%;
}

.top .title{
    font-size: xx-large;
    margin-bottom: 5%;
}

.top .desc{
    margin-bottom: 5%;
    font-size: large;
    text-align: justify;
}

.top .creator{
    font-family: cursive;
    font-size: large;
}
