#top,
#bottom {
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
}

#top {
    top: 0;
    background-color: #191919;
}

#top img{
    left: 10%;
    position: relative;
    top: 17%;
}

#bottom {
    bottom: 0;
    background-color: #F1F1F1;
}
